a{
    cursor: pointer;
}
ul,li,input{
    margin: 0;
    padding: 0;
    list-style: none;
}

.labelCursor{
    cursor: pointer;
}

.editor{
    width: 100%;
    background-color: #e8e8e8;
    overflow: hidden;
    margin: 0;
}

.editor .editor-header{
    height: 38px;
    width: 100%;
    position: absolute;
    background-image: linear-gradient(90deg, #00c4cd 0%, #6458aa 100%);
    z-index: 9;
    opacity: 0.8;
    font-size: 14px;
    color: #fff;
}
.editor .editor-header .title{
    display: inline-block;
    position: absolute;
    left: 50%;
    width: 240px;
    transform: translateX(-50%);
    line-height: 38px;
    text-align: center;
}
.editor .editor-header .right{
    right: 0;
    height: 100%;
    top: 5px;
    position: absolute;
}
.editor .editor-header .btn{
    border-radius: 2px;
    height: 28px;
    line-height: 28px;
    margin-right: 10px;
    text-align: center;
}
.editor .editor-header .save{
    display: inline-block;
    background-color: #41447d;
    width: 70px;
}
.editor .editor-header .preview{
    display: inline-block;
    width: 100px;
    background: #00c4cd;
}


.editor .sideBar{
    width: 360px;
    height: 100%;
    position: absolute;
    float: left;
    top: 38px;
}
.editor .sideBar .res-panel-nav{
    width: 60px;
    height: 100%;
    background-color: #272c33;
    float: left;
}
.editor .sideBar .res-panel-nav i{
    display: block;
    top: 10px;
    position: absolute;
    text-align: center;
    width: 60px;
}
.editor .sideBar .res-panel-nav li{
    width: 60px;
    height: 60px;
    line-height: 70px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    position: relative;
}
.editor .sideBar .res-panel-nav li:hover{
    color: #00c4cd;
}
.editor .sideBar .res-panel-nav li.active{
    background-color: #373E48;
    color: #00c4cd;
}



.editor .sideBar .res-panel-lib{
    width: 300px;
    height: 100%;
    background-color: #373E48;
    float: left;
}
.editor .sideBar .res-panel-lib>div{
    display: none;
}
.editor .sideBar .res-panel-lib .active{
    display: block;
}
.editor .sideBar .res-panel-lib .breadNav{
    line-height: 14px;
    font-size: 14px;
    color: #fff;
    text-indent:10px;
    margin-top: 10px;
}
.editor .sideBar .res-panel-lib .breadNav a:hover{
    color: #00c4cd;
}
.editor .sideBar .res-panel-lib .resource .icons{
    display: inline-block;
    width: 50px;
    height: 90px;
    float: left;
    margin: 10px 12px;
    cursor: pointer;
}
.editor .sideBar .res-panel-lib .resource .icons:hover div{
    border: 2px solid #fff;
}
.editor .sideBar .res-panel-lib .resource .icons:hover span{
    color: #00CDA0;
}
.editor .sideBar .res-panel-lib .resource .icons-font div{
    background-color:#00CDA0;
}
.editor .sideBar .res-panel-lib .resource .icons-image div{
    background-color:#FEC749;
}
.editor .sideBar .res-panel-lib .resource .icons-line div{
    background-color:#FF8181;
}
.editor .sideBar .res-panel-lib .resource .icons div{
    width: 46px;
    height: 46px;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    line-height: 46px;
    font-size: 30px;
    border: 2px solid #373E48;
}
.editor .sideBar .res-panel-lib .resource .icons span{
    line-height: 40px;
    text-align: center;
    display: block;
    color: #fff;
    font-size: 12px;
}

.editor .sideBar .res-panel-lib .resource .image{
    display: inline-block;
    float: left;
    width: 80px;
    padding: 5px;
    border: 1px solid #373E48;
    margin-left: 20px;
    cursor: pointer;
    margin: 10px;
}
.editor .sideBar .res-panel-lib .resource .image:hover{
    border: 1px solid #00c4cd;
}
.editor .sideBar .res-panel-lib .resource .image img{ 
    display: block;
    width: 80px;
}

.editor .sideBar .res-panel-lib .templates li{
    position: relative;
    overflow: hidden;
    float: left;
}
.editor .sideBar .res-panel-lib .templates img{
    width:80px;
    height:126px;
    background-color:#fff;
    float:left;
    margin:15px 0 0 15px;
    cursor: pointer;
}

.editor .sideBar .res-panel-lib .font li{
    cursor: pointer;
    text-align: center;
    border-top: 1px solid #373E48;
    border-bottom: 1px solid #373E48;
}
.editor .sideBar .res-panel-lib .font li:hover{
    border-top: 1px solid #00c4cd;
    border-bottom: 1px solid #00c4cd;
    background-color: #31373f;
}
.editor .sideBar .res-panel-lib .font .title-big{
    margin-top: 15px;
    height: 62px;
    line-height: 1.3;
    font-size: 48px;
}
.editor .sideBar .res-panel-lib .font .title-normal{
    height: 40px;
    line-height: 1.3;
    font-size: 30px;
}
.editor .sideBar .res-panel-lib .font .title-sub{
    height: 32px;
    line-height: 1.8;
    font-size: 20px;
}
.editor .sideBar .res-panel-lib .font .title-small{
    height: 26px;
    line-height: 1.6;
    font-size: 18px;
}
.editor .sideBar .res-panel-lib .font .content{
    height: 23px;
    line-height: 1.8;
    font-size: 14px;
}
.editor .sideBar .res-panel-lib .colorBg{
    border-bottom: 1px solid #090e15;
    margin: 15px;
    padding-bottom: 20px;
}
.editor .sideBar .res-panel-lib .colorBg span,
.editor .sideBar .res-panel-lib .imageBg span{
    display:block;
    text-align:center;
    font-size:14px;
    color:#fff;
    margin-bottom: 15px;
}
.editor .sideBar .res-panel-lib .colorBg .right div{
    width:21px;
    height:21px;
    display:inline-block;
    float:left;
    border: 1px solid #313131;
    cursor: pointer;
    box-sizing: border-box;
}
.editor .sideBar .res-panel-lib .imageBg .image{
    display: inline-block;
    float: left;
    width: 80px;
    padding: 5px;
    border: 1px solid #373E48;
    margin-left: 20px;
    cursor: pointer;
    margin: 10px;
}
.editor .sideBar .res-panel-lib .imageBg .image:hover{
    border-color: #00c4cd;
}
.editor .sideBar .res-panel-lib .imageBg .image img{
    width: 100%;
    display: block;
}

.editor .workPlace{
    width: calc(100% - 660px);
    height: 100%;
    position: absolute;
    left: 360px;
    top: 38px;
}
.editor .workPlace .stage{
    top: 0px;
    position: absolute;
    background: #fff;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);
    z-index: 5;
    left: 50%;
    transform: translateX(-50%);
    background-position: 50% 50%;
    background-size: cover;
}

.editor .workPlace .stage .block{
    /* border: 1px solid #333; */
}
.editor .workPlace .stage .block .cmp-operate{
    cursor: default;
}
.editor .workPlace .stage .block-active{
    z-index: 99;
}
.editor .workPlace .stage .block-header{
    width: 100%;
    height: 150px;
    position: relative;
}
.editor .workPlace .stage .block-body{
    width: 100%;
    height: 450px;
    position: relative;
}
.editor .workPlace .stage .block-bottom{
    width: 100%;
    height: 150px;
    position: relative;
}
.editor .workPlace .stage .block-header .cmp-operate,
.editor .workPlace .stage .block-body .cmp-operate,
.editor .workPlace .stage .block-bottom .cmp-operate{
    display: none;
}
.editor .workPlace .stage .block-header.block-active .cmp-operate,
.editor .workPlace .stage .block-body.block-active .cmp-operate,
.editor .workPlace .stage .block-bottom.block-active .cmp-operate{
    display: block;
}
.editor .workPlace .stage .block-active .dot-s{
    width: 5px;
    height: 5px;
    top: 100%;
    left: 50%;
    border: 1px solid #333;
    cursor: s-resize;
    position: absolute;
    transform: translate(-50%, -50%);
    display: inline-block;
}
.editor .workPlace .stage .block-active .dot-n{
    width: 5px;
    height: 5px;
    top: 0;
    left: 50%;
    border: 1px solid #333;
    cursor: n-resize;
    position: absolute;
    transform: translate(-50%, -50%);
    display: inline-block;
}



.editor .workPlace .stage .cmp-wrapper{
    position: absolute;
    outline: none;
    /* z-index: 0; */
    z-index: 999;
    -webkit-user-select: none;
    pointer-events: none;
    border: 1px solid #fff;
}
.editor .workPlace .stage .cmp-wrapper:hover{
    border: 1px solid #333;
}
.editor .workPlace .stage .cmp-wrapper .cmp-render{
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    pointer-events: auto;
}
.editor .workPlace .stage .cmp-wrapper .cmp-render .cmpScaleArea{
    height: 100%;
}
.editor .workPlace .stage .cmp-wrapper .cmp-render .cmpScaleArea .cmpMain{
    outline: none;
    /* height: 100%;
    position: absolute; */
    z-index: 99;
}
.editor .workPlace .stage .cmp-operate{
    position: absolute;
    top: 0;
    /* left: 50%; */
    cursor: pointer;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    pointer-events: auto;
}
.editor .workPlace .stage .cmp-operate .borderLine{
    position: absolute;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    margin: -1px 0 0 -1px;
    border: 1px solid #fff;
}
.editor .workPlace .stage .cmp-operate .dashed{
    border: 1px dashed #000;
}
.editor .workPlace .stage .cmp-operate .dot-e{
    top: 50%;
    right: -4px;
    margin-top: -4px;
    cursor: e-resize;
}
.editor .workPlace .stage .cmp-operate .dot-w{
    top: 50%;
    left: -4px;
    margin-top: -4px;
    cursor: w-resize;
}
.editor .workPlace .stage .cmp-operate .dot-n{
    top: 0;
    left:50%;
    transform: translate(-50%, -50%);
    cursor: n-resize;
}
.editor .workPlace .stage .cmp-operate .dot-s{
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: s-resize;
}
.editor .workPlace .stage .cmp-operate .dot-nw{
    width: 9px;
    height: 9px;
    border-radius: 50%;
    top: -5px;
    left: -5px;
    cursor: nw-resize;
}
.editor .workPlace .stage .cmp-operate .dot-ne{
    width: 9px;
    height: 9px;
    border-radius: 50%;
    top: -5px;
    right: -5px;
    cursor: ne-resize;
}
.editor .workPlace .stage .cmp-operate .dot-se{
    width: 9px;
    height: 9px;
    border-radius: 50%;
    bottom: -5px;
    right: -5px;
    cursor: se-resize;
}
.editor .workPlace .stage .cmp-operate .dot-sw{
    bottom: -5px;
    left: -5px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    cursor: sw-resize;
}
.editor .workPlace .stage .cmp-operate .dot{
    position: absolute;
    background-color: #fff;
    width: 5px;
    height: 5px;
    border: 1px solid #4a4a4a;
    z-index: 99;
}

.editor .workPlace .tools{
    position: fixed;
    width: 40px;
    top: 200px;
    z-index: 1000;
    right: 428px;
}
.editor .workPlace .tools .tools-box{
    overflow: hidden;
    width: 100%;
    margin-bottom: 10px;
}
.editor .workPlace .tools .tools-box a{
    width: 40px;
    height: 42px;
    background-color: #646a74;
    color: #fff;
    font-size: 12px;
    display: inline-block;
    line-height: 42px;
    text-align: center;
}
.editor .workPlace .tools .tools-box a:hover{
    color: #00c4cd;
    background-color: #51555c; 
}
.editor .workPlace .tools .tools-box a.active{
    color: #00c4cd;
    background-color: #51555c; 
}
.editor .workPlace .tools .tools-box a:first-child{
    border-bottom: 1px solid #525861;
    border-radius: 2px 2px 0 0;
}
.editor .workPlace .tools .tools-box a:last-child{
    border-radius: 0 0 2px 2px;
}

.editor .detailBar{
    width: 300px;
    height: 100%;
    position: absolute;
    background-color: white;
    top: 38px;
    right: 0;
}
.editor .detailBar ul,
.editor .detailBar ul li{
    font-size: 12px;
}
.editor .detailBar ul li>.title{
    display: block;
    line-height: 35px;
    background-color: #fcfcfc;
    text-indent: 5px;
    font-size: 14px;
}
.editor .detailBar ul li>ul{
    padding-bottom: 10px;
}
.editor .detailBar ul li li{
    margin:10px 0 0 20px;
}
.editor .detailBar ul li li .colorPanel{
    height: 30px;
    margin-top: 5px;
}
.editor .detailBar ul li li .colorPanel .colorSample{
    width: 28px;
    height: 28px;
    border: 1px solid #999;
    display: inline-block;
}
.editor .detailBar ul li li .colorPanel .colorValue{
    margin: 0;
    padding: 0;
    display: inline-block;
    line-height: 22px;
    position: absolute;
    margin: 3px 0 0 10px;
    text-indent: 10px;
    border: 1px solid #999;
}

.editor .detailBar .selectPanel{
    margin-top: 5px;
}
.editor .detailBar .selectPanel div{
    width: 198px;
    height: 28px;
}
.editor .detailBar .selectPanel input{
    width: 198px;
    height: 24px;
    text-indent: 10px;
    line-height: 24px;
    border: 1px solid #999;
}
.editor .detailBar .selectPanel i{
    top: -24px;
    position: relative;
    display: inline-block;
    float: right;
    font-size: 20px;
    color: rgb(102, 102, 102);
    transition: all 0.3s;
}

.editor .detailBar .selectPanel>ul{
    width: 200px;
    border: 1px solid #999;
    position: absolute;
    z-index: 9;
    background-color: #fff;
}
.editor .detailBar .selectPanel>ul>li{
    line-height: 30px;
    margin: 0px;
    text-indent: 10px;
}
.editor .detailBar .selectPanel>ul>li:hover{
    background-color: #999;
}

.editor .detailBar .positionPanel li{
    margin-right: 20px;
}
.editor .detailBar .positionPanel li>div{
    display: inline-block;
    width: 120px;
}
.editor .detailBar .positionPanel a{
    display: block;
}
.editor .detailBar .positionPanel input{
    height: 24px;
    width: 100px;
    text-indent: 10px;
    border: 1px solid #999;
    border-radius: 2px;
}

.editor .detailBar .viewPanel{
    height: 30px;
}
.editor .detailBar .viewPanel .selectPanel{
    margin: 5px 20px;
}

.modal-menu{
    overflow: hidden;
    border-radius: 4px;
    opacity: 0.9;
    background-color: #fff;
    box-shadow:0 2px 5px rgba(0, 0, 0, 0.5);
    width: 85px;
    padding: 5px 0;
}
.modal-menu ul{
    overflow: hidden;
}
.modal-menu ul>li{
    line-height: 30px;
    text-indent: 5px;
    font-size: 14px;
    cursor: pointer;
}
.modal-menu ul>li:hover{
    background-color: #ebebe7;
}